.badges{
display: grid;
grid-template-columns: repeat(4, 1fr);
background-color:#C0C0C0;
height:40px;
width:100;
text-align: center;
border: 1px solid gray;
}


  #pieChart {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    width: 800px;
    height: 800px;
    background-color: #fff;
  }